%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, [
    {mtproto_proxy, {git, "git@github.com:seriyps/mtproto_proxy.git", {branch, "master"}}},
    {ranch, "2.2.0"},
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"}
]}.

{relx, [
    {release, {personal_mtproxy, "0.1.0"}, [personal_mtproxy, sasl]},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {dev_mode, false},
    {include_erts, true}
]}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false},
                {include_erts, true},
                {sys_config, "config/sys.config"},
                {vm_args, "config/vm.args"}]}
    ]},
    {dev, [
        {relx, [{dev_mode, true},
                {include_erts, false},
                {sys_config, "config/local.sys.config"},
                {vm_args, "config/vm.args.example"}]}
    ]}
]}.
